* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: Montserrat;
}

a {
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
}

.container {
  width: 85%;
  margin: 0 auto;
  max-width: 1440px;
}

.df {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.back-top {
  position: fixed;
  width: 40px;
  height: 40px;
  font-size: 25px;
  bottom: 20px;
  right: 20px;
  background: blue;
  border-radius: 50%;
  color: white;
  display: none;
  justify-content: center;
  align-items: center;
}

.show__back-top {
  display: flex;
}

.main--btn {
  padding: 15px 30px;
  border: 2px solid transparent;
  background-color: hsl(356, 91%, 64%);
  border-radius: 2px;
  font-size: 16px;
  font-weight: 600;
  transition: 0.3s;
  color: white;
}

.main--btn:hover {
  border-color: hsl(356, 91%, 64%);
  background: transparent;
  color: hsl(356, 91%, 64%);
}

@media (max-width: 500px) {
  .main--btn {
    padding: 8px 15px;
    font-size: 14px;
    font-weight: 700;
  }
}
body {
  background-color: white;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 0;
  z-index: 999;
}

.show__header__shrink {
  padding: 15px 0;
  box-shadow: 0px 0px 10px hsl(356, 91%, 64%);
  background: white;
}

.header__nav__logo {
  font-size: 30px;
  font-weight: 700;
  color: black;
}

.header__nav__right,
.header__nav__right__list,
.header__nav__right__btns {
  gap: 20px;
}

.header__nav__right__list__item {
  font-size: 18px;
  font-weight: 600;
  padding: 5px 0px;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  position: relative;
  transition: 0.3s;
  color: black;
}

.header__nav__right__list__item::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: black;
  bottom: 0;
  left: 50%;
  border-radius: 0 1px 1px 0;
  transition: 0.3s;
}

.header__nav__right__list__item::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: black;
  bottom: 0;
  right: 50%;
  border-radius: 1px 0 0 1px;
  transition: 0.3s;
}

.header__nav__right__list__item:hover {
  color: hsl(356, 91%, 64%);
}

.header__nav__right__list__item:hover::after,
.header__nav__right__list__item:hover::before {
  width: 50%;
  background: hsl(356, 91%, 64%);
}

.header__nav__right__list__close {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  color: red;
  display: none;
}

.header__nav__right__btns__hamburger {
  border: none;
  background: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
  display: none;
}

.header__nav__right__btns__hamburger span {
  width: 20px;
  height: 2.5px;
  background: black;
  border-radius: 2px;
  transition: 0.4s;
}

.header__nav__right__btns__hamburger:hover .header__nav__right__btns__hamburger__line {
  background: hsl(356, 91%, 64%);
}

.header__nav__right__btns__dark-mode {
  border: none;
  background: transparent;
  color: black;
  font-size: 18px;
}

.header__nav__right__btns__dark-mode .fa-sun {
  display: none;
}

.dark .header__nav__right__btns__dark-mode .fa-moon {
  display: none;
}

.dark .header__nav__right__btns__dark-mode .fa-sun {
  display: block;
}

@media (max-width: 700px) {
  .header__nav__right__list {
    position: fixed;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    box-shadow: 0px 0px 15px hsl(356, 91%, 64%);
    transition: 0.3s;
    z-index: 9999;
  }
  .header__nav__right__btns {
    gap: 10px;
  }
  .header__nav__right__btns__hamburger {
    display: flex;
  }
  .show__header__nav__right__list {
    left: 0;
  }
  .header__nav__right__list__close {
    display: block;
  }
}
.home {
  padding-top: 200px;
  gap: 25px;
}
.home__left {
  background-image: url(../images/home/Group\ 16.png);
  width: 100%;
  max-width: 650px;
}
.home__left__text {
  font-size: 18px;
  font-weight: 700;
  color: hsl(356, 91%, 64%);
}
.home__left__tittle {
  font-size: 55px;
  font-weight: 700;
  padding: 65px 0 45px;
}
@media (max-width: 900px) {
  .home__left__tittle {
    font-size: 45px;
  }
}
@media (max-width: 500px) {
  .home__left__tittle {
    font-size: 40px;
  }
}
@media (max-width: 450px) {
  .home__left__tittle {
    font-size: 34px;
  }
}
.home__left__btns {
  display: flex;
  align-items: center;
  gap: 20px;
}
.home__left__btns__watch {
  display: flex;
  align-items: center;
  gap: 5px;
  background: transparent;
  font-size: 22px;
  font-weight: 600;
  line-height: 27px;
  transition: 0.3s;
}
.home__left__btns__watch:hover {
  text-decoration: underline;
}
@media (max-width: 500px) {
  .home__left__btns__watch {
    font-size: 16px;
  }
}
@media (max-width: 400px) {
  .home__left__btns {
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }
}
.home__right {
  width: 100%;
  max-width: 450px;
}
.home__right img {
  width: 100%;
}
@media (max-width: 1130px) {
  .home__right {
    width: 100%;
    max-width: 350px;
  }
}
@media (max-width: 900px) {
  .home {
    flex-direction: column-reverse;
    gap: 40px;
    padding-top: 120px;
  }
  .home__right {
    max-width: 450px;
  }
}

.about {
  padding-top: 200px;
  gap: 30px;
}
.about__right {
  width: 100%;
  max-width: 518px;
}
.about__right__tittle {
  font-size: 60px;
  font-weight: 700;
  padding-bottom: 10px;
}
@media (max-width: 500px) {
  .about__right {
    font-size: 32px;
    padding-bottom: 8px;
  }
}
.about__right__img {
  width: 100%;
  max-width: 450px;
}
.about__right__imgimg {
  width: 100%;
}
.about__right__text {
  font-size: 22px;
  font-weight: 400;
  color: gray;
  padding: 50px 0 40px;
}
@media (max-width: 500px) {
  .about__right__text {
    font-size: 18px;
    padding: 25px 0 30px;
  }
}
@media (max-width: 400px) {
  .about__right__text {
    font-size: 14px;
  }
}
@media (max-width: 1250px) {
  .about__left img {
    width: 100%;
  }
}
@media (max-width: 900px) {
  .about {
    flex-direction: column;
    padding-top: 120px;
  }
  .about__left {
    width: 100%;
    max-width: 450px;
  }
  .about__left img {
    width: 100%;
  }
  .about__right__tittle {
    font-size: 40px;
  }
  .about__right__img {
    width: 100%;
    max-width: 300px;
  }
  .about__right__img img {
    width: 100%;
  }
}

.sellection {
  padding-top: 200px;
}
.sellection__tittle {
  font-size: 40px;
  font-weight: 600;
  padding-bottom: 15px;
}
@media (max-width: 900px) {
  .sellection__tittle {
    font-size: 42px;
  }
}
@media (max-width: 500px) {
  .sellection__tittle {
    font-size: 34px;
  }
}
.sellection__name {
  padding-bottom: 80px;
}
@media (max-width: 900px) {
  .sellection__name {
    width: 350px;
  }
}
@media (max-width: 500px) {
  .sellection__name {
    width: 250px;
  }
}
.sellection__imgs {
  position: relative;
}
.sellection__imgs__house {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto 180px auto;
  display: block;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
@media (max-width: 830px) {
  .sellection__imgs__house {
    height: 400px;
  }
}
@media (max-width: 500px) {
  .sellection__imgs__house {
    height: 500px;
  }
}
.sellection__imgs__points {
  width: 20%;
  position: absolute;
  bottom: -20%;
  left: 18%;
}
.sellection__imgs__cards__card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  position: absolute;
  width: 100%;
  max-width: 450px;
  display: flex;
  align-items: start;
  background-color: white;
}
.sellection__imgs__cards__card img {
  padding: 44px 22px 0 44px;
}
.sellection__imgs__cards__card div h4 {
  font-size: 20px;
  font-weight: 700;
  padding: 58px 0 10px 0;
}
.sellection__imgs__cards__card div p {
  padding-bottom: 68px;
}
.sellection__imgs__cards__card-1 {
  top: 15%;
  left: 0;
}
.sellection__imgs__cards__card-2 {
  top: -8%;
  right: 15%;
}
.sellection__imgs__cards__card-3 {
  right: 0;
  bottom: -15%;
}
@media (max-width: 1220px) {
  .sellection__imgs__cards__card-1 {
    left: -5%;
  }
  .sellection__imgs__cards__card-2 {
    right: -5%;
  }
  .sellection__imgs__cards__card-3 {
    right: -5%;
  }
}
@media (max-width: 1000px) {
  .sellection__imgs__cards__card {
    left: 0;
    max-width: 350px;
  }
  .sellection__imgs__cards__card div p {
    padding: 15px 10px 20px 0;
  }
  .sellection__imgs__cards__card div h4 {
    padding: 30px 0 5px 0;
  }
  .sellection__imgs__cards__card img {
    padding: 30px 22px 0 30px;
  }
  .sellection__imgs__cards__card-1 {
    top: 130px;
  }
  .sellection__imgs__cards__card-3 {
    bottom: -25px;
  }
}
@media (max-width: 500px) {
  .sellection__imgs__cards__card {
    display: none;
  }
  .sellection__imgs__cards__points {
    display: none;
  }
}
@media (max-width: 1220px) {
  .sellection__imgs__card-3 {
    top: -70%;
  }
}
@media (max-width: 500px) {
  .sellection__imgs__house {
    height: auto;
  }
}

.shop__tittle {
  font-size: 40px;
  font-weight: 600;
  line-height: 49px;
}
@media (max-width: 500px) {
  .shop__tittle {
    font-size: 32px;
  }
}
.shop__logo {
  width: 400px;
  padding: 10px 0 40px;
}
.shop__logo img {
  width: 100%;
}
@media (max-width: 900px) {
  .shop__logo {
    width: 250px;
  }
}
@media (max-width: 400px) {
  .shop__logo {
    width: 200px;
  }
}