
footer {
    margin-top: 100px;
    
}

.footer {
    padding-top: 100px;
    border-top: 2px solid black;

    &__item {
        &__tittle {
                font-size: 26px;
                font-weight: 600;
                width: 152px;
        }
    }
}